/* reusable */

* {
    margin: 0px;
    box-sizing: border-box;
    z-index: 0;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    font-variation-settings:
        "wdth" 100;
        color: rgba(128, 146, 167, 1);
}

.create-account {
    transition: transform 2s ease;
    color: rgb(139, 154, 173);
    background: rgb(103, 114, 128);
    background: linear-gradient(266deg, rgba(103, 114, 128, 1) 0%, rgba(60, 63, 68, 1) 100%);
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    user-select: none;
    text-shadow: 2px 1px 10px rgb(0, 0, 0);
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.37);
}

.create-account:hover {
    transition: transform 1s ease;
    transform: translateY(-5px);
}

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.cen {
    text-align: center;
}

/* landing page: */

.landing-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-inline: 20dvw;
    width: 100%;
    height: 6dvh;
    background-color: rgba(0, 0, 0, .5);
}

.landing-nav h1 {
    font-size: 3.5dvh;
}

.landing-nav-but {
    transition: all 1s ease;
    width: 70px;
    height: 23px;
    background: rgb(85, 92, 100);
    background: linear-gradient(283deg, rgb(48, 52, 56) 0%, rgba(30, 33, 36, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    user-select: none;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.37);
}

.landing-nav-but:hover {
    transition: all 1s ease;
    transform: translateY(-5px);
    box-shadow: 2px 1px 10px rgba(59, 59, 59, 0.37);
}

.landing-body {
    background: rgb(85, 92, 100);
    background: linear-gradient(283deg, rgba(85, 92, 100, 1) 0%, rgba(30, 33, 36, 1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100dvh;
    text-shadow: 2px 1px 10px rgba(0, 0, 0, 0.5);
}

.landing-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landing-main h2 {
    transform: translateY(-45px);
    font-size: 65px;
}

.landing-main img {
    user-select: none;
    width: 300px;
}

.landing-main p {
    transform: translateY(-50px);
    color: rgba(128, 146, 167, 1);
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

@media (max-width: 900px) {
    .landing-nav {
        padding-inline: 3dvw;
    }
    .landing-nav-but {
        width: 16dvw;
    }
}

/* ui */

.ui-body{
    height: 99dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ui-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(85, 92, 100);
    background: linear-gradient(283deg, rgb(98, 105, 114) 0%, rgba(30, 33, 36, 1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100dvh;
}

.ui-msg {
    padding-top: 2dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98dvw;
    height: 86dvh;
    border-radius: 1dvw;
    background-color: rgba(30, 33, 36, 1);
    margin-bottom: .8dvw;
}

.ui-users {
    width: 98dvw;
    height: 10dvh;
    border-radius: 1dvw;
    background-color: rgba(30, 33, 36, 1);
}

.ui-msg-history {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;  
    overflow-y: scroll;
    width: 95dvw;
    height: 75dvh;
    border-radius: 1dvw;
    background-color: rgb(19, 21, 23);
    padding-inline: .8dvw;
    padding-bottom: .5dvw;
}

.ui-form {
    margin-top: 1dvw;
    width: 95dvw;
}

.ui-form input {
    
    font-size:.8dvw;
    height: 4dvh;
    width: 80%;
    background-color: rgba(255, 255, 255, 0);
    border: .1dvw solid rgb(19, 21, 23);
    border-radius: .3dvw;
    color: rgb(228, 228, 228);
    text-decoration: none;
}

.ui-form input:focus {
    outline: none;
}

.ui-form button {
    
    font-size:.8dvw;
    width: 8%;
    height: 3dvh;
    color: rgb(193, 193, 193);
    border-radius: .3dvw;
    margin-left: 1.5dvw;
    background-color: rgb(19, 21, 23);
    border: none;

}

.ui-bubble {
    width: fit-content;
    padding-inline: 1dvw;
    padding-block: .2dvw;
    color: rgb(142, 142, 142);
    border-radius: .3dvw;
}

.self {
    align-self: flex-start;
    background-color: rgb(64, 69, 75);
}

.outside {
    align-self: flex-end;
    background-color: rgb(45, 49, 53);
}